<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PoGo Stats</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/home}"> PoGo Stats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/pokemon}">All Pokemons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/myPokemon}">My Pokemons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/leagues}">Leagues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/pvp}">PvP Calc</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="padding-top: 10%;">
    <div class="row">
        <h2><span th:utext="${action}"></span> Pokemon Entry</h2>

        <div th:if="${#strings.equalsIgnoreCase('add', action)}">
            <form class="row g-3" action="#" th:action="@{/myPokemon}" th:object="${entry}" method="post">
                <div class="col-12">
                    <label for="pokemonList" class="form-label">Pokemon</label>
                    <input th:field="*{pokemonId}" class="form-control" list="datalistOptions" id="pokemonList"
                           placeholder="Type to search...">
                    <datalist id="datalistOptions">
                        <option th:each="pokemon : ${pokemons}" th:value="${pokemon.id}" th:text="${pokemon.name}" >
                        </option>
                    </datalist>
                </div>
                <div class="col-12">
                    <label for="cpInput" class="form-label">Combat Power (CP)</label>
                    <input id="cpInput" type="text" class="form-control" th:field="*{currentCp}">
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" th:field="*{shiny}">
                        <label class="form-check-label" for="gridCheck">
                            Shiny
                        </label>
                    </div>
                </div>
                <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
            </form>
        </div>

        <div th:if="${#strings.equalsIgnoreCase('edit', action)}">
            <form class="row g-3" action="#" th:action="@{/myPokemon}" th:object="${entry}" method="post">
                <input type="text" hidden th:field="*{entryId}"/>
                <input type="text" hidden th:field="*{pokemonId}"/>
                <div class="col-12">
                    <label for="pokemonName" class="form-label">Pokemon</label>
                    <input th:field="*{pokemonName}" class="form-control" id="pokemonName" disabled>
                </div>
                <div class="col-12">
                    <label for="cpEdit" class="form-label">Combat Power (CP)</label>
                    <input id="cpEdit" type="text" class="form-control" th:field="*{currentCp}">
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkEdit" th:field="*{shiny}">
                        <label class="form-check-label" for="checkEdit">
                            Shiny
                        </label>
                    </div>
                </div>
                <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Adheli Tavares. 2021. MIT License</span>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>