<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PoGo Stats</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#" th:href="@{/home}"> PoGo Stats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/pokemon}">All Pokemons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/myPokemon}">My Pokemons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/leagues}">Leagues</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container" style="padding-top: 10%;">
    <div style="padding: 10px;">
        <a class="btn btn-outline-success" th:href="@{/leagues/great}">Great League</a>
        <a class="btn btn-outline-primary" th:href="@{/leagues/ultra}">Ultra League</a>
        <a class="btn btn-outline-danger" th:href="@{/leagues/master}">Master League</a>
    </div>

    <div class="container" style="padding: 10px;" th:if="${not #lists.isEmpty(pokemons)}">
        <div class="row" style="padding: inherit">
            <h4 th:text="${leagueName}">My Pokemons</h4>
        </div>
        <div class="row" style="padding: inherit">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ENTRY #</th>
                    <th>NAME</th>
                    <th>CP</th>
                    <th>SHINY</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${pokemons}">
                    <td th:text="${entry.entryId}"></td>
                    <td th:text="${entry.pokemonName}">me</td>
                    <td th:text="${entry.currentCp}">me</td>
                    <td><i class="fas fa-gem text-warning" th:if="${#bools.isTrue(entry.shiny)}"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Adheli Tavares. 2021. MIT License</span>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>
